/*********************************************************
 * Screen & Browser Styles
 *********************************************************/

html {
    background-color: var(--color-screen-background);
    padding-left: 25vw;
}
body {
    background-color: var(--color-background);
    margin: auto;
    margin-top: 1cm;
    padding: 2cm;
    max-width: 21cm;
}

.toc {
    background-color: var(--color-background);
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 25vw;
    min-width: 25vw;
    max-width: 75vw;
    padding-right: 8pt;
    border-right: 5pt solid var(--color-screen-background);
    transition: width 0.3s;
    box-sizing: border-box;
    z-index: 1;
}

.toc:hover {
    overflow: scroll;
    width: 12cm;
}

@media (max-width: 36cm) {
    body {
        padding: 5vw;
        overflow-wrap: break-word;
    }
}

td[role="toc_sect1"], td[role="toc_sect1_appendix"] {
    border: hidden;
    height: 10pt;
    padding: 0pt;
    text-align: left;
    font-size: 0.9em;
    text-indent:-4mm;
    padding-left: 8mm;
    padding-top: 3px;
}

td[role="toc_sect2"], td[role="toc_sect2_appendix"] {
    border: hidden;
    height: 10pt;
    padding: 0pt;
    text-align: left;
    font-size: 0.9em;
    text-indent:-4mm;
    padding-left: 12mm;
    padding-top: 3px;
}

.toc > *{
    margin-left: 8pt;
    white-space: nowrap;
}
.toc h1::before{
    font-size: 11pt;
    position: absolute;
    top: 8pt;
}

.toc h1 {
    font-size: 2em;
    
}

.toc table {
    margin-bottom: 1cm;
}

.toc table * {
    background-color: var(--color-background);
    position: relative;
}

.toc table tr:hover *{
    background-color: var(--color-screen-background);
}
    
.toc a::before {
    content: attr(counter);
}

[role=toc_chapter], [role=toc_appendix] {
    font-weight: bold;
}

.footnote {
    display: none;
}
.bookinfo > .title {
    font-size: 24pt;
}
.bookinfo figure img {
    width: 16cm !important;
}

[data-condition='documentation'] .classname[data-condition]::before {
    content: attr(data-condition) ".";
}
[data-width] {
    width: attr(data-width) !important;
}

body > section:not(.simple) > h1, 
.toc > h1,
.preface > h1 {
    margin-top: 2cm;
}

h1 {
    text-align: left;
}

h1,
.title {
    position: relative;
}

a.linkIcon {
    position: absolute;
    opacity: 0.1;
    left: -1em;
    top: 0;
    padding-right: 0.5em;
    font-weight: normal;
    font-style: normal;
    font-family: var(--font-family-primary);
}

h1:hover a.linkIcon,
.title:hover a.linkIcon {
    opacity: 1;
}
}
