@mixin layoutOrientation{	 
	width: 70rem;
	margin: 0 auto;
	left: 0;
	right: 0;
}

@mixin bp($point) {
  @media only screen and (max-width: $point+px){ @content; }           
}

@mixin bph($point) {
  @media only screen and (max-height: $point+px){ @content; }           
}