// FONT-FAMILY
$font-reg: Univers, Arial, Helvetica, sans-serif;
$font-lite: UniverLite, Arial, Helvetica, sans-serif;
$font-b: UniversB, Arial, Helvetica, sans-serif;

// COLORS
$color-white-1: #fcfbfa;

$color-orange-1: #ae562c;

$color-brown-1: #282623;