// FONT-FAMILY
$font-reg: Univers, Arial, Helvetica, sans-serif;
$font-lite: UniverLite, Arial, Helvetica, sans-serif;
$font-b: UniversB, Arial, Helvetica, sans-serif;

// COLORS
$color-white-1: #fcfbfa;

$color-orange-1: #ae562c;
$color-orange-2: #a25a36;

$color-brown-1: #282623;
$color-brown-2: #56504b;

:export {
  white1: $color-white-1;
  orange1: $color-orange-1;
  brown1: $color-brown-1;	
	brown2: $color-brown-2;
}