.panel{
	height: 100vh;
	position: absolute;
	width: 100vw;
  z-index: -101;
  opacity: 0;
  &--activate{
    z-index: 10;
    opacity: 1;
  }
  &--40{
    overflow-y: scroll;    
  }
  &--6,
  &--7{
    @include bp($width-5){
      overflow-y: scroll;
    }    
  }
  &--40{
    margin-bottom: 5.50rem;
  }
}