

/* Table of Contents */


@media screen {
    div.ro-toc a {
        color: gray;
    }
}

@media print {
    div.ro-toc a {
        color: black;
        text-decoration: none;
    }
    
    div.ro-toc a::after {
        content: leader(dotted) target-counter(-ro-attr(href url), page);
    }
    
}

.ro-toc-heading::before {
    content: none;
}

div.ro-toc {
    break-after: page;
}

div.ro-toc > h2 {
    break-before: avoid;
}

div.ro-toc div {
    margin-bottom: 1.5pt;
}


div.ro-toc-acc {
    -ro-pdf-tag-type: none;
}

div.ro-toc-acc > div {
    -ro-pdf-tag-type: "TOC";
}

div.ro-toc-acc > div div {
    -ro-pdf-tag-type: "TOCI";
}

div.ro-toc-acc > div div div {
    -ro-pdf-tag-type: "Reference";
}
