.btn{
	&__progress{
	  // cursor: pointer;
	  // position: relative;
	  // background: #000;
	  // width: 500px;
	  // height: 250px;
	  // // width: 100%;
	  // // display: none;
	  // // height: 100%;
		display: none;
		&--1{
			display: flex;
		}
		&--6,
		&--27{
			width: auto;
	    height: 1.80rem;
	    border: 1px solid $color-white-1;
	    display: flex;
	    justify-content: space-between;
	    cursor: pointer;
	    align-items: center;
	    padding: 0.20rem 0.45rem;
	    text-decoration: none;
	    background: transparent;
	    font-size: 0.7em;
	    color: $color-white-1;
	    font-family: $font-b;

			bottom: 0;
	    margin-top: 0;
	    position: absolute;
	    left: 50%;	    
		}
	}
	&__regress{
		width: 2.00rem;
    height: 2rem;
    border-radius: 1rem;
    border: solid 0.1rem $color-white-1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity $timing-2;
		pointer-events: none;
		opacity: 0;

		&--0{
			background-color: $color-green-1;
		}
		&--1{
			background-color: $color-blue-1;
		}
		&--2{
			background-color: $color-red-1;	
		}
		&--3{
			background-color: $color-grey-1;	
		}		

		&.show{
			pointer-events: auto;
			opacity: 1;
			display: flex;
		}
		&.rotate--1{
			transform: rotate(180deg);  //after 1
		}

		& > img{
			@include bp($width-1){
				@include bph(900){
					width: 62%;
				}
			}
		}
	}
}

