.checkbox{
	&__group{
		flex: 0 0 2.65rem;
		display: flex;
        align-items: center;        

        &:not(:last-of-type) {
		    margin-bottom: .5rem;
            
      //       @include bph(900){
      //           margin-bottom: 0;
      //       }

		    // @include bp($width-1){
      //           @include bph(900){
      //               margin-bottom: 0;
      //           }
      //       }
        }

        @include bph(900){
            margin-bottom: .75rem;
        }

        @include bp($width-1){
            @include bph(900){
                margin-bottom: .75rem;
            }
        }        
        @include bp($width-5){
            width: 45%;
        }
	}
	&__input{
		display: none;
	}
    &__container{
        position: relative;
    }
	&__label{
		display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        position: relative;
        @include bp($width-5){
            width: 95%;
        }
	}	

	&__button{
		border: 0.1rem solid $color-white-1;
        border-radius: 50%;
        display: flex;
        height: 2.65rem;
        align-items: center;
        justify-content: center;
	    &--0{
            background-color: $color-green-1;
            .checkbox__input:checked ~ .checkbox__label &{
                background-color: $color-green-2;
               border: 0.10rem solid $color-green-2;
            }
        }    	    
        &--1{
            background-color: $color-blue-1;
            .checkbox__input:checked ~ .checkbox__label &{
                background-color: $color-blue-2;
               border: 0.10rem solid $color-blue-2;
            }
        }           
        &--2{
            background-color: $color-red-1;
            .checkbox__input:checked ~ .checkbox__label &{
                background-color: $color-tan-1;
               border: 0.10rem solid $color-tan-1;
            }
        }           
        &--3{
            background-color: $color-grey-1;
            .checkbox__input:checked ~ .checkbox__label &{
                background-color: $color-grey-3;
               border: 0.10rem solid $color-grey-3;
            }
        }           
	}
	&__form{		
		display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        height: 13rem;
        width: 100%;
        justify-content: normal;

        // @include bph(950){
        //     flex-wrap: wrap;
        //     height: 13.5rem;
        // }
        @include bph(900){
            height: 15.5rem;
        }


        // @include bp($width-1){
        //     @include bph(900){
        //         flex-wrap: wrap;
        //         height: 15rem;
        //         width: 100%;
        //         justify-content: normal;
        //     }
        // }

        @include bp($width-4){
            @include bph(500){
                width: 100%;
                height: 11rem;
            }
        }
	
        @include bp($width-5){
            height: 15rem;
            flex-wrap: wrap;
        }

        // .panel--27 &{
        //     @include bph(950){
        //         height: 9.5rem;
        //     }
        //     @include bph(900){
        //         height: 13rem;
        //     }
        //     @include bp($width-1){
        //         @include bph(900){
        //             height: 11rem;
        //         }
        //     }
        //     @include bp($width-4){
        //         height: 12rem;
        //     }
        // }
    }

	&__checkmark{
		background-image: url(../assets/images/desktop/icon/icon-check-likert.svg);
    width: 1.55rem;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1.15rem;
	opacity: 0;	

        .checkbox__input:checked ~ .checkbox__label &{
        	opacity: 1;
        }
	}
	&__text{
		padding-left: 1.10rem;
        white-space: nowrap;
        font-family: $font-reg;
        font-size: 1.15rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        color: $color-white-1;        
        @include bp($width-5){
            white-space: normal;
            height: 1.80rem;
        }

        .panel--27 &{
            @include bp($width-4){
                white-space: normal;
            }
        }
	}
}
