.cloud{
	position: relative;
	transform: scale(1.2) translate(-2%, -8%);
	&--1{
		flex: 0 0 20.80rem;
		height: 11.40rem;
		margin-right: 3.40rem;
		
		@include bp(1100){
	    width: 20.8rem;
	    flex: 0 0 11.40rem;

	    @include bph(900){
	    	flex: 0 0 20.80rem;
    		height: 11.40rem;
	    }
		}

		@include bp($width-2){
	    width: 20.8rem;
	    flex: 0 0 11.40rem;
		}
	}
	&--2{
		width: 100%;
		flex: 0 0 8rem;
	}

	&__wrapper{
		flex: 0 0 15.89rem;
		display: flex;
		justify-content: space-between;
		flex-direction: column;    
		position: relative;
		@include bp($width-1){
	    margin-bottom: 2.50rem;
		}
	}

	&__title{
		color: $color-grey-2;
		font-family: $font-b;		
		display: none;
		&--1{
			font-size: 1.40rem;	
			width: 5.75rem;
		}
		&--2{
			width: 4.55rem;
			font-size: 1.05rem;
		}
	}
	&__subtitle{
		font-family: $font-reg;
		color: $color-white-1;
		font-size: 1.20rem;
		width: 11rem;
		margin-top: 0.75rem;
		margin-left: 8%;
		&--1{
			width: 14rem;
		}
	}
	&__text{
		color: $color-grey-2;
		font-family: $font-b;
		display: none;		
		&--1{
			font-size: 1.70rem;
		}
		&--2{
			font-size: 1.30rem;
		}
	}
}

.text{
	&__wrapper{
		position: absolute;
		&--1{
			right: 0;
	    top: -1.00rem;
		}
		&--2{
			right: 0;
			top: -1.10rem;
		}		
	}
}