.cta{
	&__wrapper{
		width: 35.40rem;
    height: 10rem;
    border: 2px solid #56504b;
    position: absolute;
    left: 65vw;
    padding: 0.80rem 0 0.80rem 0.80rem;
    /* top: 100%; */
    transform: translate(0%, 0%);
	}
}