.dial{
  &-group{  
    position: relative;    
    width: 40.50rem;
    height: 20.25rem;
    margin-top: 0.80rem;
      

    @include bph(950){
      width: 29.16rem;
      height: 14.58rem;
    }

    @include bp($width-1){
      @include bph(900){
        height: 19.78rem;
        width: 39.56rem;
      }
    }
    @include bp($width-2){
      @include bph(850){
        $width: 75%;
        width: $width;
        height: auto;
        padding-bottom: ($width * .5);      
      }
      @include bph(750){
        $width: 40%;
        width: $width;
        height: auto;
        padding-bottom: ($width * .5);
      }
    }
    @include bp($width-3){
      $width: 100%;
      width: $width;
      height: auto;
      padding-bottom: ($width * .5);

      @include bph(750){
        $width: 60%;
        width: $width;
        height: auto;
        padding-bottom: ($width * .5);
      }
      @include bph(650){
        margin-top: 0;
        $width: 50%;
        width: $width;
        height: auto;
        padding-bottom: ($width * .5);        
      }
    }
    @include bp($width-4){
      @include bph(550){
        margin-top: -1.5rem;
      }
    }
    @include bp($width-5){
      $width: 100%;
      width: $width;
      height: auto;
      padding-bottom: ($width * .5);      
    }
  }
  &-tracker__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;      
    overflow: hidden;
    z-index: 100;
  }
  &-clock__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;          
  }
  &__hand{
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;    
    border-width: 0 0.62rem 17.85rem 0.62rem;
    cursor: grab;
    border-color: transparent transparent #fff transparent;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)rotate(-88deg);
    transform-origin: 50% 100%;       

    @include bp($width-1){
      @include bph(900){
        border-width: 0 calc(#{34.78rem} * .0175) calc(#{34.78rem} * .5) calc(#{34.78rem} * .0175);        
      }
    }    

    @include bp($width-2){
      @include bph(850){
        border-width: 0 calc(#{27.78rem} * .0175) calc(#{27.78rem} * .5) calc(#{27.78rem} * .0175);      
      }

      @include bph(750){
        border-width: 0 calc(18rem * .0175) calc(18rem * .5) calc(18rem * .0175);
      }      
    }

    @include bp($width-5){      
        border-width: 0 calc(#{27.78rem} * .0175) calc(#{27.78rem} * .5) calc(#{27.78rem} * .0175);        
    }        
  }
  &__crown{
    background-color: #fcfbfa;
    width: 6%;
    height: 12%;
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
  }
  &__context{
    position: absolute;
    height: 100%;
    width: 100%;
    
    &-section{
      position: absolute;
      display: flex;
      width: 100%;
      &--1{
        flex-direction: column;
        align-items: center;    
        
        
      }
      &--2{
        justify-content: space-between;
        margin-top: 31%;
        box-sizing:border-box
      }
      &--3{
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 108%;
        visibility: hidden;        
        font-family: $font-reg;
        font-size: 0.95em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: normal;
        color: $color-white-1;        
      }
      &--show{
        visibility: visible;
      }
      &--hide{
        visibility: hidden;
      }         
    }
    &--wrapper{
      display: flex;
      align-items: center;

      &--1{
        flex: 0 0 50%;
        justify-content: flex-start;
      }
      &--2{
        flex: 0 0 50%;
        justify-content: flex-end;
      }
    }
  }
  &__line{
    background-color: #56504b;
    opacity: 0;
    border: solid 0.1rem #56504b;
    &--0{
      transform: rotate(112.5deg);
    }    
    &--1{
      transform: translateY(-8%);
    }        
    &--2{
      transform: rotate(-112.5deg);
    }    
  }  
  &__text{
    font-family: $font-reg;
    font-size: 0.95em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    color: $color-white-1;

    &--0c{
      margin-left: 7%;
      transform: translateY(18%);
    }
    &--1c{
      margin-top: 3px;
    }
    &--2c{
      margin-right: 7%;
      transform: translateY(18%);
    }
  }
}


