.dial{
  &-group{  
    position: relative;    
    width: 810px;
    height: 405.00px;
    margin-top: 16px;
  }
  &-tracker__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;      
    overflow: hidden;
    z-index: 100;
  }
  &-clock__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;          
  }
  &__hand{
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;

    //THIS NEEDS TO BE RESPONSIVE
    border-width: 0 12.3px 357px 12.3px;
    //
    cursor: grab;
    border-color: transparent transparent #fff transparent;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)rotate(-88deg);
    transform-origin: 50% 100%;       
  }
  &__crown{
    background-color: #fcfbfa;
    width: 6%;
    height: 12%;
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
  }
  &__context{
    position: absolute;
    height: 100%;
    width: 100%;
    
    &-section{
      position: absolute;
      display: flex;
      width: 100%;
      &--1{
        flex-direction: column;
        align-items: center;    
        
        
      }
      &--2{
        justify-content: space-between;
        margin-top: 31%;
        box-sizing:border-box
      }
      &--3{
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 108%;
        visibility: hidden;        
        font-family: $font-reg;
        font-size: 0.95em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: normal;
        color: $color-white-1;        
      }
      &--show{
        visibility: visible;
      }
      &--hide{
        visibility: hidden;
      }         
    }
    &--wrapper{
      display: flex;
      align-items: center;

      &--1{
        flex: 0 0 50%;
        justify-content: flex-start;
      }
      &--2{
        flex: 0 0 50%;
        justify-content: flex-end;
      }
    }
  }
  &__line{
    background-color: #56504b;
    opacity: 0;
    border: solid 0.1rem #56504b;
    &--0{
      transform: rotate(112.5deg);
    }    
    &--1{
      transform: translateY(-8%);
    }        
    &--2{
      transform: rotate(-112.5deg);
    }    
  }  
  &__text{
    font-family: $font-reg;
    font-size: 0.95em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    color: $color-white-1;

    &--0c{
      margin-left: 7%;
      transform: translateY(18%);
    }
    &--1c{
      margin-top: 3px;
    }
    &--2c{
      margin-right: 7%;
      transform: translateY(18%);
    }
  }
}


