.gate{
	&__container{
		width: 100vw;
		height: 100vh;
		position: absolute;
		display: flex;
    align-items: center;
    justify-content: center;
	  // opacity: 0;
	  display: none;
	  transition: opacity 1s;
	  &.fade-in{
	  	z-index: 1000000;
	    // opacity: 1;
	    display: flex;
	  }		
	}
	&__form{
		width: 35.00rem;
		background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 2.675rem;
    padding-bottom: 2.675rem;   	
	  opacity: 0;
	  transition: opacity 1s;
	  position: relative;
	  &.fade-in{
	  	z-index: 1000000;
	    opacity: 1;
	  }		
	}
	&__title{
		font-family: $font-reg;
		font-size: 1rem;
    text-align: center;		
    color: $color-grey-2;
		&--emp{
			color: $color-grey-4;
			font-family: $font-b;	
			font-size: 1.20rem;
		}		
	}
	&__group{
    width: 72%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    &--1{
    	margin-top: 1.00rem;
    }
    &--2{
    	margin-top: 0.45rem;
    }
	}
	&__label{
		font-family: $font-reg;
		font-size: 0.70rem;
		color: $color-green-1;
		margin-left: auto;
    margin-right: 1.00rem;
	}
	&__input{
		width: 15.00rem;
		height: 1.29rem;
		font-size: .7rem;
		border-width: 0.05rem;
		border-style: solid;
		background: rgba(117, 156, 108,.2);
    border-width: 0;
		&--1{
			cursor: pointer;
		}
	}
	&__submit{
		-webkit-appearance: none;
    user-select: none;
    text-align: center;
    cursor: pointer;
    color: none;
    color: $color-white-1;
    background-color: $color-green-1;
    border: none;
    width: 5.00rem;
    height: 1.80rem;
    border-radius: 5.00rem;
		margin: 0 auto;
    margin-top: .75rem;
	}
}

.form{
	&__invalid{
		font-family: $font-reg;
    font-size: 0.70rem;
    color: red;
    margin-left: auto;
    margin-right: 1.00rem;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: .75rem;
		display: none;
		&--active{
			display: block;
		}
	}
}

#gate__industry{
	max-height: 50px;
}