$width: 100%;

.landing{
    &__container{
        margin: 0 auto;
        margin-top: 5.70rem;           
        display: flex;   
        border: solid 0.10rem $color-white-1;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all .5s;
        width: 36.90rem;
        height: 36.90rem;
        background-color: $color-green-1;

        @include bph(1000){
            height: 0; 
            $width: 50%;
            width: $width;
            height: 0;
            padding-bottom: ($width);              
        }
        @include bph(950){
            width: 16.56rem;
            height: 16.56rem;
            margin-top: 5.7rem;
            padding-bottom: 0;
        }

        @include bph(800){
            width: 11.56rem;
            height: 11.56rem;
            margin-top: 2.7rem;    
        }

        @include bp($width-1){
            width: 60%;
            height: 0;
            padding-bottom: 60%;

            @include bph(950){
                width: 16.56rem;
                height: 16.56rem;
                margin-top: 5.7rem;
                padding-bottom: 0;
            }
        }
        @include bp($width-2){
            @include bph(700){
                width: 12.56rem;
                height: 12.56rem;
                margin-top: 4.7rem;
            }
        }
        @include bp($width-4){
            width: 13.89rem;
            padding-bottom: 0;
            height: 13.89rem;
        }        
        @include bp($width-5){
            margin: 0 auto;
            margin-top: 2.7rem;
            @include bph(450){
                margin-top: 1.7rem;   
            }
        }
    }
    &__title{
        font-size: 2.4rem;
        font-weight: 700;
        font-family: $font-b;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #fcfbfa;
        transition-delay: .5s;
        transition-property: opacity;
        transition-duration: 0.5s;
        margin-top: 42%;
        padding: 0 2%;

        &--x{
            display: none;
        }

        @include bph(950){
            display: none;

            &--x{
                font-size: 2.1rem;
                width: 100%;
                display: block;
                height: 2.67rem;
                text-align: left;
                padding-left: 0;
                margin-top: 1rem;
            }
        }                
        
        @include bp($width-1){
            font-size: 2.2rem;  

            @include bp(1050){
                font-size: 2rem;
            }      
    
            @include bph(900){
                display: none;

                &--x{
                    font-size: 2.1rem;
                    width: 100%;
                    display: block;
                    height: 2.67rem;
                    text-align: left;
                    padding-left: 0;
                    margin-top: 1rem;
                }
            }            
        }

        @include bp($width-3){
            font-size: 1.6rem;

        }

        @include bp($width-4){
            display: none;

            &--x{
                font-size: 2.1rem;
                width: 100%;
                display: block;
                height: 2.67rem;
                text-align: left;
                padding-left: 0;
                margin-top: 1rem;
            }            
        }


        @include bp($width-5){

            &--x{
                height: auto;
            }            
        }        

    }
    &__subtitle{
        font-family: $font-reg;
        font-size: 1.25rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        width: 23.35rem;
        padding: 0 0.50rem;
        color: $color-white-1;
        transition-delay: 1s;
        transition-property: opacity;
        transition-duration: .5s;
    

        &--x{
            display: none;
        }

        @include bph(950){
            display: none;

            &--x{
                height: 4.44rem;                    
                display: block;
                padding: 0;
                text-align: left;       
                margin-top: 1.28rem;
                font-size: 2.05rem;
                width: 75%;                                 
            }
        }            

        @include bp($width-1){
            @include bph(900){
                display: none;

                &--x{
                    height: 4.44rem;                    
                    display: block;
                    padding: 0;
                    text-align: left;       
                    margin-top: 1.28rem;
                    font-size: 2.05rem;
                    width: 75%;                                 
                }
            }            
        }        

        @include bp($width-3){
            width: 95%;
            font-size: 1rem;
            &--x{
                font-size: 1.75rem;
            }
        }
        @include bp($width-4){
            display: none;

            &--x{
                height: 4.44rem;                    
                display: block;
                padding: 0;
                text-align: left;       
                margin-top: 1.28rem;
                font-size: 2.05rem;                
                width: 100%;                         
            }        
        }        

        @include bp($width-5){
            height: 7.36rem;          
        }
    }       
    &__txt{
        color: $color-white-1;
        &--1{
            width: 11.95rem;
            height: 1.50rem;
            font-size: 1.25rem;
            font-family: $font-b;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            margin-top: 25.25%;

            @include bph(950){
                margin-top: 48.25%;
            }

            @include bp($width-1){
                @include bp(1200){
                    margin-top: 18.25%;
                }
                @include bp(1050){
                    margin-top: 23.25%;
                }
                @include bph(950){
                    margin-top: 46.25%;
                }
                @include bph(900){
                    font-size: 1.5rem;
                    margin-top: 47.25%;
                }
            }
            @include bp($width-3){
                margin-top: 20.25%;
                @include bph(950){
                    margin-top: 48.25%;   
                }
            }

            @include bp($width-4){               
                font-size: 1.5rem;
                margin-top: 45.25%;
            }            
        }
    }
    &__texture{
        background-image: url(../assets/images/desktop/group.png);
        position: absolute;
        left: 0;
        margin: 0 auto;
        margin-top: 5.7rem;
        right: 0;
        z-index: -1;
        transform: translateX(-4%);
        width: 51.34rem;
        height: 51.34rem;
        background-size: 100%;
        background-repeat: no-repeat;
        top: 0;

        @include bph(950){
            width: 25.34rem;
            height: 25.34rem;
            margin-top: 16.7rem;
        }

        @include bph(750){
            width: 18.34rem;
            height: 18.34rem;
            margin-top: 13.7rem;
        }

        @include bp($width-1){
            width: 94%;
            @include bph(950){
                width: 25rem;
                transform: translateX(-4%);                
                height: 25rem;
                margin-top: 17rem;
            }
        }        

        @include bp($width-2){
            @include bph(700){
                width: 19rem;
                transform: translateX(-4%);
                height: 19rem;
                margin-top: 16rem;
            }
        }

        @include bp($width-4){
            width: 58%;
            margin-top: 16.7rem;
        }
        @include bp($width-5){
            width: 21rem;
            margin-top: 16.7rem;
            @include bph(450){
                margin-top: 15rem;
            }

        }
        @include bp(405){
            width: 24rem;
            margin-top: 15.7rem;
            height: 100%;
        }        
    }
    &__img{        
        background-image: url(../assets/graphics/down.svg);
        background-repeat: no-repeat;
        width: 1.5rem;
        flex: 0 0 1.5rem;
        background-position: center;
        background-size: 100%;
        margin-top: 0.80rem;  
        @include bp($width-1){  
            @include bph(900){
                display: block;
                position: absolute;
                background-image: url(../assets/graphics/down.svg);
                transform: translateY(7.25rem);
                transition: 300ms;

                background-repeat: no-repeat;
                width: 2.2rem;
                height: 2.2rem;
                background-position: center;

                margin-top: 3.85rem;                
            }
        }

        @include bp($width-2){
            @include bph(700){
                margin-top: 1.85rem;
            }
        }        
    }
}