.likert{
	&__input{
		display: none;
	}
	&__container{
    width: 60%;
    height: 20.00rem;
		position: relative;
		z-index: 2;
		margin-top: 2.35rem;
		padding-left: 4%;
		@include bp($width-2){
			width: 90%;
		}
		@include bp($width-4){
			width: 80%;
			padding-left: 0;
			margin: 0 auto;
			margin-top: 2.35rem;

			@include bph(575){
				margin-top: 0.35rem;
			}
		}
	}
	&__form{
		width: 100%;
		width: auto;
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	&__button{
		border: 0.10rem solid $color-white-1;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150%;

    box-sizing: content-box;

    &--0{
	    background-color: $color-green-1;
	    .likert__input:checked ~ .likert__label &{
	    	background-color: $color-green-2;
		    border: 0.10rem solid $color-green-2;
	    }
    }
		&--1{
	    background-color: $color-blue-1;
	    .likert__input:checked ~ .likert__label &{
	    	background-color: $color-blue-2;
		    border: 0.10rem solid $color-blue-2;
	    }
    }  
		&--2{
	    background-color: $color-red-1;
	    .likert__input:checked ~ .likert__label &{
	    	background-color: $color-mustard-1;
		    border: 0.10rem solid $color-mustard-1;
	    }
    }  
		&--2{
	    background-color: $color-grey-1;
	    .likert__input:checked ~ .likert__label &{
	    	background-color: $color-grey-3;
		    border: 0.10rem solid $color-grey-3;
	    }
    }            
	}
	&__line{
		stroke-width: 2;    
    stroke: $color-white-1;

		&--group{
			width: 92%;
			z-index: -1;

			@include bp($width-5){
				width: 100%
			}
		}
	}
	&__label{
		display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
	}
	&__group{
		flex: 0 0 2.65rem;

		@include bp($width-4){
			@include bph(650){
				flex: 0 0 2rem;
			}
		}
	}
	&__text{
		position: absolute;
		text-align: center;
		margin-top: 2.65rem;
		padding-top: 1.55rem;
		font-family: $font-reg;
    font-size: 1.15rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    width: 9.75rem;
    text-align: center;
    color: $color-white-1;

		.panel--9 &{
			width: 7.80rem;
		}

    @include bp(767){
    	@include bph(650){
    		padding-top: 0;
    	}
    }
	}
	&__checkmark{
		background-image: url(../assets/images/desktop/icon/icon-check-likert.svg);
    width: 1.55rem;
    background-repeat: no-repeat;
    background-size: 100%;
 		display: none;
    height: 1.15rem;
		.likert__input:checked ~ .likert__label &{
			display: block;
		}
	}
}