.line{
	
	stroke: $color-white-1;
  stroke-width: 2;
  stroke-dasharray: 4;
  stroke-dashoffset: 8;
  animation: stroke 0.2s linear infinite;
	opacity: 0;

  &--1x,
  &--2x{
    @include bp($width-1){
      stroke-width: 3;
    }
    @include bp(1075){
      stroke-width: 4;
    }
  }

  &.activate{
    animation: fadewhite .5s linear;
    stroke: $color-white-1;
    stroke-dasharray: 0;
  }
  
  &.deactivate{
    animation: fadeorange .5s linear;
    stroke: $color-white-1;
    stroke-dasharray: 4;   

    stroke-width: 2;
    stroke-dasharray: 4;
    stroke-dashoffset: 8;
    animation: stroke 0.2s linear infinite;
    opacity: 0;     
  }

  &.show{
    opacity: 1;
  }

	&__wrapper{
    height: 1px;
		// display: none;
    width: 70rem;
    position: absolute;
    z-index: -100;
    overflow: visible;
    left: 50%;
    transform: translateX(-50%);
    @include bp($width-1){
      width: 83.333%;
    }    
    @include bp($width-4){
      width: 95%;
    }
	}
}