.slider{
	&__container{
		width: 40.90rem;
		height: 20rem;
		position: relative;
		@include bp($width-3){
			width: 100%;
		}
	}
	&__form,
	&__form--x{
		width: 100%;
		height: 100%;
		display: flex;
    flex-direction: column;
	}
	&__content{
    width: 97%;
    transition: height .5s;
    overflow: hidden;
    height: 2.70rem;
    border-radius: 0.20rem;
    background-color: #56504b;
    margin: 0 auto;
    padding-left: 0.8rem;
    padding-right: 0.8rem;	
			
		&--active{
			height: 12.65rem;
	    opacity: 1;
	    width: 100%;

	    padding-left: 0.86rem;
	    padding-right: 0.86rem;
	    background-color: transparent;
		}		
		&:not(:last-of-type){
			background: none;
			margin-bottom: 0.80rem;
	    overflow: hidden;
		}
	}	
	&__header{
		display: flex;
		align-items: center;
		opacity: 0;
		@include bp($width-2){
			@include bph(700){
				display: none;
			}
		}
	}	
	&__title{
    font-size: 0.95em;    
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: $color-white-1;
    align-items: center;
    margin-right: auto;
    transform: translateY(5%);		
		display: flex;
    height: 3.55rem;
    font-size: 1.75rem;
    line-height: 1.67;
    display: 	none;
	}
	&__step{
		color: $color-white-1;
	}
	&__mid{
		color: $color-white-1;
		font-family: $font-lite;
		display: flex;
    justify-content: space-between;
	}
	&__output{
		color: $color-white-1;
		font-family: $font-b;		
		font-size: 1.2rem;
		margin-top: 2.25rem;
		text-align: center;
	}
}

.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 1.10rem;

	.scroller__content--deactive &{
		opacity: 1;
		display: flex;
	}
}

.rangeslider {
  position: relative;
	
  &--horizontal{
	  width: 100%;
	  height: 2.20rem;
		background-color: $color-green-2;
		border: solid 0.10rem $color-white-1;	  	
	  overflow: hidden;
	  cursor: pointer;
	  margin-top: 0.65rem;

	  .scroller__content--active &{
		  height: 2.20rem;
		  margin-top: 0.65rem;
		}
	}

  &__fill{
	  background: $color-white-1;
	  position: absolute;  	
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		.rangeslider--horizontal & {
		  height: 100%;			
		}
  }

  &__handle{
	  background: $color-white-1;
	  cursor: grab;
	  display: inline-block;
	  position: absolute;
	  padding-left: inherit;
	  padding-right: inherit;
	  &::after{
			content: "";
			height: 0;
	  }
		.slider__content--active &::after {
			content: "";
			display: block;
	    width: 0.80rem;
	    height: 1.05rem;
	    background-color: $color-white-1;
	    position: absolute;
	    transform: translateX(-50%);
	    margin-top: 0.50rem;

			-webkit-clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
			clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);  
		
		}  
  }
}
