.vertfc{
	&__container{
		width: 100%;
		height: 6.50rem;
		margin-top: 0.80rem;
		

		.panel--37 &{
			@include bph(650){
					margin-top: -1rem;
			}
		}

		@include bp($width-4){
			margin-top: -.5rem;
		}
	}
	&__form{
		height: 100%;
		width: 100%;

		display: flex;
    flex-direction: column;
	}

	&__input{
		display: none;
	}
	&__group{
		position: relative;
		flex: 0 0 2.65rem;

		&:not(:first-of-type){
			margin-top: 0.75rem;
			@include bp($width-4){
				@include bph(600){
					margin-top: .5rem;				
				}
			}
		}
		@include bp($width-4){
			@include bph(600){
				flex: 0 0 1.5rem;				
			}
		}

		.panel--20 &,
  	.panel--31 &,
  	.panel--32 &,
  	.panel--38 &,
  	.panel--40 &{
	  	@include bp($width-5){
	  		margin-top: 1.1rem;
	  	}
  	}
	}

	&__button{
		border: 0.10rem solid $color-white-1;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    height: 2.65rem;
    align-items: center;
    justify-content: center;

		&--0{
			background-color: $color-green-1;
			.vertfc__input:checked ~ .vertfc__label &{
				background-color: $color-green-2;
	    	border: 0.10rem solid $color-green-2;
			}       
		}
		&--1{
			background-color: $color-blue-1;
			.vertfc__input:checked ~ .vertfc__label &{
				background-color: $color-blue-2;
	    	border: 0.10rem solid $color-blue-2;
			}       
		}
		&--2{
			background-color: $color-red-1;
			.vertfc__input:checked ~ .vertfc__label &{
				background-color: $color-tan-1;
	    	border: 0.10rem solid $color-tan-1;
			}       
		}
		&--3{
			background-color: $color-grey-1;
			.vertfc__input:checked ~ .vertfc__label &{
				background-color: $color-grey-3;
	    	border: 0.10rem solid $color-grey-3;
			}       
		}

	}	
	&__checkmark{
		background-image: url(../assets/images/desktop/icon/icon-check-likert.svg);
    width: 1.55rem;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1.15rem;
		display: none;

    .vertfc__input:checked ~ .vertfc__label &{
    	display: block;
    }
	}
	&__label{
		display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    position: relative;
		@include bp($width-1){
  		width: 100%;
  	}
  	.panel--20 &,
  	.panel--31 &,
  	.panel--32 &,
  	.panel--38 &,
  	.panel--40 &{
	  	@include bp($width-5){
	  		align-items: inherit;
	  	}
  	}
	}
	&__text{
		white-space: nowrap;
		padding-left: 1.10rem;
    font-family: $font-reg;
    font-size: 1.15rem;
    cursor: pointer;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: $color-white-1;
	
		@include bp($width-1){
			white-space: normal;
		}
		@include bp($width-4){
			@include bph(600){
				font-size: 1rem;
			}
		}    			  	  
	}
}