.body{
	&__content{    
    width: 70rem;
    margin: 0 auto;
    padding-top: 4.00rem; 
    position: relative;
		@include layoutOrientation;
		
		@include bp($width-1){
			width: 83.333%;		
		}

		@include bp($width-5){
			width: 95%;
		}
		
		.panel--41 &{
    	transform: translateX(0.50rem);
			@include bp($width-5){
				transform: none;
			}
		}

	  .panel--6 &,
	  .panel--7 &{
	  	@include bp($width-5){
	  		margin-bottom: 8.81rem;	  		
	  		height: auto;
	  	}
	  }
  }
}