.footer{
	position: fixed;
  z-index: 100;
  top: calc(100vh - 1.75rem);
  transform: translateY(-50%);	
	@include layoutOrientation;
	height: 2rem;
    @include bp($width-1){
        width: 83.333%;
    }
    @include bp($width-2){
       top: calc(100vh - 1.7rem); 
    }    

    @include bp($width-5){
        width: 95%;
        top: calc(100vh - 11.9rem);
    }


	&-text{
	width: 4.65rem;
    height: 0.90rem;
    font-size: 0.70rem;
    font-family: $font-b;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: $color-white-1;
    top: -1.10rem;
    text-align: center;
    position: absolute;
    // transform: translateX(25%);
    display: block;
    transition: opacity $timing-2;
    opacity: 0;

		&.show{
			opacity: 1;			
		}    
	}		 
}