.header{
	&__container{
		position: fixed;
	  z-index: 10000;  
	  height: 2.95rem;  
	  display: flex;
	  padding-top: 0.95rem;
	  transition-property: opacity;
	  transition-duration: .1s;	
		@include layoutOrientation;
	}
}

