.header{
	&__container{
		position: fixed;
	  z-index: 10000;  
	  height: 2.95rem;  
	  display: flex;
	  padding-top: 0.95rem;
	  opacity: 0;
	  transition: opacity 1s, transform .2s;
		width: 70rem;
		margin: 0 auto;
		left: 0;
		right: 0;
		
		@include bp($width-1){
			width: 83.333%;				
		} 

		@include bp($width-5){
			width: 95%;				
		} 

	  &.fade-in{
	    opacity: 1;
	  }		
	  &.fade-up{
	  	opacity: 0;
	  	transform: translateY(-100%);
	  }

	}
}

