@page{
    margin: 1cm;
}

@media screen {
    html {
        background-color: lightgray;
    }

    body {
        max-width: 1200px;
        margin: 8px auto;

        padding: 32px;
        padding-top: 0;
        border: 1px solid darkgray;
        background-color: white;
    }
}

@media print {
    button {
        display: none;
    }
    
    code {
        font-size: 1.2em;
    }
}

body {
    font: 11pt Arial, sans-serif;
}

h1 {
    margin-top: 2cm;
}

h2 {
    margin-top: 1cm;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) td,

table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) td,

table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) td {
    background-color: white;
}

table tbody tr:nth-child(even) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) td,

table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) td,

table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) td {	
    background-color: whitesmoke;
}


table thead th,
table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(odd) tr:nth-child(odd) tr th,
table tbody tr:nth-child(even) tr:nth-child(even) tr th,

table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) tr th,

table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) tr th {
    background-color: whitesmoke;
}

table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(even) tr:nth-child(odd) tr th,
table tbody tr:nth-child(odd) tr:nth-child(even) tr th,

table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) tr th,

table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(even) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(odd) table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) tr th,
table tbody tr:nth-child(even) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) table tbody tr:nth-child(odd) tr th {
    background-color: white;
}

td, th {
    padding: 5px;

    border: 2px solid black;

    break-inside: avoid;
    word-wrap: break-word;
    hyphens: auto;
}

td {
    vertical-align: top;
}

td div {
    margin-top: auto;
}

#legend tr td:first-child {
    white-space: nowrap;
}

.propertyTable td,
.propertyTable th {
    width: 4cm;
}

.propertyTable td:nth-child(1),
.propertyTable td:nth-child(2),
.propertyTable td:nth-child(6) {
    word-wrap: break-word;
    hyphens: auto;
    hyphenate-before: 3;
    hyphenate-after: 3;
}

.propertyTable td:nth-child(3),
.propertyTable th:nth-child(3),
.propertyTable td:nth-child(4),
.propertyTable th:nth-child(4),
.propertyTable td:nth-child(5),
.propertyTable th:nth-child(5) {
    width: 2cm;
    text-align: center;
}

.propertyTable td:nth-child(1),
.propertyTable td:nth-child(3),
.propertyTable td:nth-child(4),
.propertyTable td:nth-child(5) {
    font-family: monospace;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

#filter {
    padding-right: 2mm;
}

#types {
    break-before: page;
}

#types > div {
    break-inside: avoid;
}

.hide {
    display: none;
}
